<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sanjeevyadav.knit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/knitlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AcademicActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".DevelopersActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".CareerDevelopmentActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FacultyActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DepartmentsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ContactsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DatabaseEntryActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".LoginIndexActivity" />
        <activity
            android:name=".StudentActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ResultActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutUsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AdminstrationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DirectorActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".webview_acticity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>